<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunyard.tms.mapper.AppPackageMapper" >
  <resultMap id="BaseResultMap" type="com.sunyard.tms.entity.AppPackage" >
    <id column="APP_ID" property="appId" jdbcType="VARCHAR" />
    <id column="APP_PKG_VER" property="appPkgVer" jdbcType="VARCHAR" />
    <result column="APP_DOWNLOAD_FLAG" property="appDownloadFlag" jdbcType="VARCHAR" />
    <result column="APP_PKG_LEN" property="appPkgLen" jdbcType="VARCHAR" />
    <result column="APP_PKG_DESC" property="appPkgDesc" jdbcType="VARCHAR" />
    <result column="APP_PKG_STATUS" property="appPkgStatus" jdbcType="VARCHAR" />
    <result column="APP_PKG_FILE_PATH" property="appPkgFilePath" jdbcType="VARCHAR" />
    <result column="APP_PKG_FOLDER_PATH" property="appPkgFolderPath" jdbcType="VARCHAR" />
    <result column="CREATED_DATETIME" property="createdDatetime" jdbcType="VARCHAR" />
    <result column="UPDATE_DATETIME" property="updateDatetime" jdbcType="VARCHAR" />
    <result column="BAK1" property="bak1" jdbcType="VARCHAR" />
    <result column="BAK2" property="bak2" jdbcType="VARCHAR" />
    <result column="BAK3" property="bak3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    APP_ID, APP_PKG_VER, APP_DOWNLOAD_FLAG, APP_PKG_LEN, APP_PKG_DESC, APP_PKG_STATUS, 
    APP_PKG_FILE_PATH, APP_PKG_FOLDER_PATH, CREATED_DATETIME, UPDATE_DATETIME, BAK1, 
    BAK2, BAK3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sunyard.tms.entity.AppPackageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TBL_APP_PKG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.sunyard.tms.entity.AppPackageKey" >
    select 
    <include refid="Base_Column_List" />
    from TBL_APP_PKG
    where APP_ID = #{appId,jdbcType=VARCHAR}
      and APP_PKG_VER = #{appPkgVer,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.sunyard.tms.entity.AppPackageKey" >
    delete from TBL_APP_PKG
    where APP_ID = #{appId,jdbcType=VARCHAR}
      and APP_PKG_VER = #{appPkgVer,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sunyard.tms.entity.AppPackageExample" >
    delete from TBL_APP_PKG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sunyard.tms.entity.AppPackage" >
    insert into TBL_APP_PKG (APP_ID, APP_PKG_VER, APP_DOWNLOAD_FLAG, 
      APP_PKG_LEN, APP_PKG_DESC, APP_PKG_STATUS, 
      APP_PKG_FILE_PATH, APP_PKG_FOLDER_PATH, CREATED_DATETIME, 
      UPDATE_DATETIME, BAK1, BAK2, 
      BAK3)
    values (#{appId,jdbcType=VARCHAR}, #{appPkgVer,jdbcType=VARCHAR}, #{appDownloadFlag,jdbcType=VARCHAR}, 
      #{appPkgLen,jdbcType=VARCHAR}, #{appPkgDesc,jdbcType=VARCHAR}, #{appPkgStatus,jdbcType=VARCHAR}, 
      #{appPkgFilePath,jdbcType=VARCHAR}, #{appPkgFolderPath,jdbcType=VARCHAR}, #{createdDatetime,jdbcType=VARCHAR}, 
      #{updateDatetime,jdbcType=VARCHAR}, #{bak1,jdbcType=VARCHAR}, #{bak2,jdbcType=VARCHAR}, 
      #{bak3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sunyard.tms.entity.AppPackage" >
    insert into TBL_APP_PKG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="appId != null" >
        APP_ID,
      </if>
      <if test="appPkgVer != null" >
        APP_PKG_VER,
      </if>
      <if test="appDownloadFlag != null" >
        APP_DOWNLOAD_FLAG,
      </if>
      <if test="appPkgLen != null" >
        APP_PKG_LEN,
      </if>
      <if test="appPkgDesc != null" >
        APP_PKG_DESC,
      </if>
      <if test="appPkgStatus != null" >
        APP_PKG_STATUS,
      </if>
      <if test="appPkgFilePath != null" >
        APP_PKG_FILE_PATH,
      </if>
      <if test="appPkgFolderPath != null" >
        APP_PKG_FOLDER_PATH,
      </if>
      <if test="createdDatetime != null" >
        CREATED_DATETIME,
      </if>
      <if test="updateDatetime != null" >
        UPDATE_DATETIME,
      </if>
      <if test="bak1 != null" >
        BAK1,
      </if>
      <if test="bak2 != null" >
        BAK2,
      </if>
      <if test="bak3 != null" >
        BAK3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="appId != null" >
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appPkgVer != null" >
        #{appPkgVer,jdbcType=VARCHAR},
      </if>
      <if test="appDownloadFlag != null" >
        #{appDownloadFlag,jdbcType=VARCHAR},
      </if>
      <if test="appPkgLen != null" >
        #{appPkgLen,jdbcType=VARCHAR},
      </if>
      <if test="appPkgDesc != null" >
        #{appPkgDesc,jdbcType=VARCHAR},
      </if>
      <if test="appPkgStatus != null" >
        #{appPkgStatus,jdbcType=VARCHAR},
      </if>
      <if test="appPkgFilePath != null" >
        #{appPkgFilePath,jdbcType=VARCHAR},
      </if>
      <if test="appPkgFolderPath != null" >
        #{appPkgFolderPath,jdbcType=VARCHAR},
      </if>
      <if test="createdDatetime != null" >
        #{createdDatetime,jdbcType=VARCHAR},
      </if>
      <if test="updateDatetime != null" >
        #{updateDatetime,jdbcType=VARCHAR},
      </if>
      <if test="bak1 != null" >
        #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null" >
        #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null" >
        #{bak3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sunyard.tms.entity.AppPackageExample" resultType="java.lang.Integer" >
    select count(*) from TBL_APP_PKG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TBL_APP_PKG
    <set >
      <if test="record.appId != null" >
        APP_ID = #{record.appId,jdbcType=VARCHAR},
      </if>
      <if test="record.appPkgVer != null" >
        APP_PKG_VER = #{record.appPkgVer,jdbcType=VARCHAR},
      </if>
      <if test="record.appDownloadFlag != null" >
        APP_DOWNLOAD_FLAG = #{record.appDownloadFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.appPkgLen != null" >
        APP_PKG_LEN = #{record.appPkgLen,jdbcType=VARCHAR},
      </if>
      <if test="record.appPkgDesc != null" >
        APP_PKG_DESC = #{record.appPkgDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.appPkgStatus != null" >
        APP_PKG_STATUS = #{record.appPkgStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.appPkgFilePath != null" >
        APP_PKG_FILE_PATH = #{record.appPkgFilePath,jdbcType=VARCHAR},
      </if>
      <if test="record.appPkgFolderPath != null" >
        APP_PKG_FOLDER_PATH = #{record.appPkgFolderPath,jdbcType=VARCHAR},
      </if>
      <if test="record.createdDatetime != null" >
        CREATED_DATETIME = #{record.createdDatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDatetime != null" >
        UPDATE_DATETIME = #{record.updateDatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.bak1 != null" >
        BAK1 = #{record.bak1,jdbcType=VARCHAR},
      </if>
      <if test="record.bak2 != null" >
        BAK2 = #{record.bak2,jdbcType=VARCHAR},
      </if>
      <if test="record.bak3 != null" >
        BAK3 = #{record.bak3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TBL_APP_PKG
    set APP_ID = #{record.appId,jdbcType=VARCHAR},
      APP_PKG_VER = #{record.appPkgVer,jdbcType=VARCHAR},
      APP_DOWNLOAD_FLAG = #{record.appDownloadFlag,jdbcType=VARCHAR},
      APP_PKG_LEN = #{record.appPkgLen,jdbcType=VARCHAR},
      APP_PKG_DESC = #{record.appPkgDesc,jdbcType=VARCHAR},
      APP_PKG_STATUS = #{record.appPkgStatus,jdbcType=VARCHAR},
      APP_PKG_FILE_PATH = #{record.appPkgFilePath,jdbcType=VARCHAR},
      APP_PKG_FOLDER_PATH = #{record.appPkgFolderPath,jdbcType=VARCHAR},
      CREATED_DATETIME = #{record.createdDatetime,jdbcType=VARCHAR},
      UPDATE_DATETIME = #{record.updateDatetime,jdbcType=VARCHAR},
      BAK1 = #{record.bak1,jdbcType=VARCHAR},
      BAK2 = #{record.bak2,jdbcType=VARCHAR},
      BAK3 = #{record.bak3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sunyard.tms.entity.AppPackage" >
    update TBL_APP_PKG
    <set >
      <if test="appDownloadFlag != null" >
        APP_DOWNLOAD_FLAG = #{appDownloadFlag,jdbcType=VARCHAR},
      </if>
      <if test="appPkgLen != null" >
        APP_PKG_LEN = #{appPkgLen,jdbcType=VARCHAR},
      </if>
      <if test="appPkgDesc != null" >
        APP_PKG_DESC = #{appPkgDesc,jdbcType=VARCHAR},
      </if>
      <if test="appPkgStatus != null" >
        APP_PKG_STATUS = #{appPkgStatus,jdbcType=VARCHAR},
      </if>
      <if test="appPkgFilePath != null" >
        APP_PKG_FILE_PATH = #{appPkgFilePath,jdbcType=VARCHAR},
      </if>
      <if test="appPkgFolderPath != null" >
        APP_PKG_FOLDER_PATH = #{appPkgFolderPath,jdbcType=VARCHAR},
      </if>
      <if test="createdDatetime != null" >
        CREATED_DATETIME = #{createdDatetime,jdbcType=VARCHAR},
      </if>
      <if test="updateDatetime != null" >
        UPDATE_DATETIME = #{updateDatetime,jdbcType=VARCHAR},
      </if>
      <if test="bak1 != null" >
        BAK1 = #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null" >
        BAK2 = #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null" >
        BAK3 = #{bak3,jdbcType=VARCHAR},
      </if>
    </set>
    where APP_ID = #{appId,jdbcType=VARCHAR}
      and APP_PKG_VER = #{appPkgVer,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sunyard.tms.entity.AppPackage" >
    update TBL_APP_PKG
    set APP_DOWNLOAD_FLAG = #{appDownloadFlag,jdbcType=VARCHAR},
      APP_PKG_LEN = #{appPkgLen,jdbcType=VARCHAR},
      APP_PKG_DESC = #{appPkgDesc,jdbcType=VARCHAR},
      APP_PKG_STATUS = #{appPkgStatus,jdbcType=VARCHAR},
      APP_PKG_FILE_PATH = #{appPkgFilePath,jdbcType=VARCHAR},
      APP_PKG_FOLDER_PATH = #{appPkgFolderPath,jdbcType=VARCHAR},
      CREATED_DATETIME = #{createdDatetime,jdbcType=VARCHAR},
      UPDATE_DATETIME = #{updateDatetime,jdbcType=VARCHAR},
      BAK1 = #{bak1,jdbcType=VARCHAR},
      BAK2 = #{bak2,jdbcType=VARCHAR},
      BAK3 = #{bak3,jdbcType=VARCHAR}
    where APP_ID = #{appId,jdbcType=VARCHAR}
      and APP_PKG_VER = #{appPkgVer,jdbcType=VARCHAR}
  </update>
  <select id="selectLatestVersionApp" resultType="com.sunyard.tms.entity.App">
    SELECT *
	FROM
	  (SELECT ta.APP_ID,
	    ta.APP_NAME,
	    ta.APP_DESC,
	    ta.APP_TYPE,
	    tp.APP_PKG_VER,
	    tp.APP_DOWNLOAD_FLAG,
	    tp.APP_PKG_LEN,
	    tp.APP_PKG_DESC,
	    tp.CREATED_DATETIME,
	    tp.UPDATE_DATETIME,
	    ta.APP_STATUS,
	    ta.MODEL_ID,
	    ta.APP_ICON
	  FROM TBL_DEVICE td
	  LEFT JOIN TBL_APP ta
	  ON ta.MODEL_ID = td.MODEL_ID
	  LEFT JOIN TBL_APP_PKG tp
	  ON tp.APP_ID          = ta.APP_ID
	  LEFT JOIN TBL_ORGANIZATION org
	  ON org.ORG_ID = ta.BAK1
	  WHERE ta.APP_STATUS     = 1
	  AND tp.APP_PKG_STATUS = 1
      AND td.DEVICE_SN = #{devSn}
      <if test="appId != null and appId != ''" >
        AND ta.APP_ID = #{appId,jdbcType=VARCHAR}
      </if>
      <if test="appName != null and appName != ''" >
        AND ta.APP_NAME LIKE '%${appName}%'
      </if>
      <if test="orgId != null and orgId != ''" >
        AND FIND_IN_SET(org.ORG_ID,getChildrenOrg(#{orgId}))
      </if>
	  ORDER BY tp.APP_PKG_VER DESC
	  )t
	GROUP BY t.APP_ID
  </select>
</mapper>