<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.tms.mapper.DocumentMapper">
  <resultMap id="BaseResultMap" type="com.sunyard.tms.entity.Document">
    <id column="DOC_ID" jdbcType="VARCHAR" property="docId" />
    <result column="DOC_NAME" jdbcType="VARCHAR" property="docName" />
    <result column="DOC_DESC" jdbcType="VARCHAR" property="docDesc" />
    <result column="DOC_FILE_PATH" jdbcType="VARCHAR" property="docFilePath" />
    <result column="DOC_FOLDER_PATH" jdbcType="VARCHAR" property="docFolderPath" />
    <result column="DOC_LEN" jdbcType="VARCHAR" property="docLen" />
    <result column="CREATED_DATETIME" jdbcType="VARCHAR" property="createdDatetime" />
    <result column="UPDATE_DATETIME" jdbcType="VARCHAR" property="updateDatetime" />
    <result column="BAK1" jdbcType="VARCHAR" property="bak1" />
    <result column="BAK2" jdbcType="VARCHAR" property="bak2" />
    <result column="BAK3" jdbcType="VARCHAR" property="bak3" />
    <result column="DOC_VER" jdbcType="VARCHAR" property="docVer" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    DOC_ID, DOC_NAME, DOC_DESC, DOC_FILE_PATH, DOC_FOLDER_PATH, DOC_LEN, CREATED_DATETIME, 
    UPDATE_DATETIME, BAK1, BAK2, BAK3, DOC_VER
  </sql>
  <select id="selectByExample" parameterType="com.sunyard.tms.entity.DocumentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TBL_DOCUMENT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TBL_DOCUMENT
    where DOC_ID = #{docId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TBL_DOCUMENT
    where DOC_ID = #{docId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sunyard.tms.entity.DocumentExample">
    delete from TBL_DOCUMENT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sunyard.tms.entity.Document">
    insert into TBL_DOCUMENT (DOC_ID, DOC_NAME, DOC_DESC, 
      DOC_FILE_PATH, DOC_FOLDER_PATH, DOC_LEN, 
      CREATED_DATETIME, UPDATE_DATETIME, BAK1, 
      BAK2, BAK3, DOC_VER)
    values (#{docId,jdbcType=VARCHAR}, #{docName,jdbcType=VARCHAR}, #{docDesc,jdbcType=VARCHAR}, 
      #{docFilePath,jdbcType=VARCHAR}, #{docFolderPath,jdbcType=VARCHAR}, #{docLen,jdbcType=VARCHAR}, 
      #{createdDatetime,jdbcType=VARCHAR}, #{updateDatetime,jdbcType=VARCHAR}, #{bak1,jdbcType=VARCHAR}, 
      #{bak2,jdbcType=VARCHAR}, #{bak3,jdbcType=VARCHAR}, #{docVer,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sunyard.tms.entity.Document">
    insert into TBL_DOCUMENT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="docId != null">
        DOC_ID,
      </if>
      <if test="docName != null">
        DOC_NAME,
      </if>
      <if test="docDesc != null">
        DOC_DESC,
      </if>
      <if test="docFilePath != null">
        DOC_FILE_PATH,
      </if>
      <if test="docFolderPath != null">
        DOC_FOLDER_PATH,
      </if>
      <if test="docLen != null">
        DOC_LEN,
      </if>
      <if test="createdDatetime != null">
        CREATED_DATETIME,
      </if>
      <if test="updateDatetime != null">
        UPDATE_DATETIME,
      </if>
      <if test="bak1 != null">
        BAK1,
      </if>
      <if test="bak2 != null">
        BAK2,
      </if>
      <if test="bak3 != null">
        BAK3,
      </if>
      <if test="docVer != null">
        DOC_VER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="docId != null">
        #{docId,jdbcType=VARCHAR},
      </if>
      <if test="docName != null">
        #{docName,jdbcType=VARCHAR},
      </if>
      <if test="docDesc != null">
        #{docDesc,jdbcType=VARCHAR},
      </if>
      <if test="docFilePath != null">
        #{docFilePath,jdbcType=VARCHAR},
      </if>
      <if test="docFolderPath != null">
        #{docFolderPath,jdbcType=VARCHAR},
      </if>
      <if test="docLen != null">
        #{docLen,jdbcType=VARCHAR},
      </if>
      <if test="createdDatetime != null">
        #{createdDatetime,jdbcType=VARCHAR},
      </if>
      <if test="updateDatetime != null">
        #{updateDatetime,jdbcType=VARCHAR},
      </if>
      <if test="bak1 != null">
        #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null">
        #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null">
        #{bak3,jdbcType=VARCHAR},
      </if>
      <if test="docVer != null">
        #{docVer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sunyard.tms.entity.DocumentExample" resultType="java.lang.Long">
    select count(*) from TBL_DOCUMENT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update TBL_DOCUMENT
    <set>
      <if test="record.docId != null">
        DOC_ID = #{record.docId,jdbcType=VARCHAR},
      </if>
      <if test="record.docName != null">
        DOC_NAME = #{record.docName,jdbcType=VARCHAR},
      </if>
      <if test="record.docDesc != null">
        DOC_DESC = #{record.docDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.docFilePath != null">
        DOC_FILE_PATH = #{record.docFilePath,jdbcType=VARCHAR},
      </if>
      <if test="record.docFolderPath != null">
        DOC_FOLDER_PATH = #{record.docFolderPath,jdbcType=VARCHAR},
      </if>
      <if test="record.docLen != null">
        DOC_LEN = #{record.docLen,jdbcType=VARCHAR},
      </if>
      <if test="record.createdDatetime != null">
        CREATED_DATETIME = #{record.createdDatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDatetime != null">
        UPDATE_DATETIME = #{record.updateDatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.bak1 != null">
        BAK1 = #{record.bak1,jdbcType=VARCHAR},
      </if>
      <if test="record.bak2 != null">
        BAK2 = #{record.bak2,jdbcType=VARCHAR},
      </if>
      <if test="record.bak3 != null">
        BAK3 = #{record.bak3,jdbcType=VARCHAR},
      </if>
      <if test="record.docVer != null">
        DOC_VER = #{record.docVer,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update TBL_DOCUMENT
    set DOC_ID = #{record.docId,jdbcType=VARCHAR},
      DOC_NAME = #{record.docName,jdbcType=VARCHAR},
      DOC_DESC = #{record.docDesc,jdbcType=VARCHAR},
      DOC_FILE_PATH = #{record.docFilePath,jdbcType=VARCHAR},
      DOC_FOLDER_PATH = #{record.docFolderPath,jdbcType=VARCHAR},
      DOC_LEN = #{record.docLen,jdbcType=VARCHAR},
      CREATED_DATETIME = #{record.createdDatetime,jdbcType=VARCHAR},
      UPDATE_DATETIME = #{record.updateDatetime,jdbcType=VARCHAR},
      BAK1 = #{record.bak1,jdbcType=VARCHAR},
      BAK2 = #{record.bak2,jdbcType=VARCHAR},
      BAK3 = #{record.bak3,jdbcType=VARCHAR},
      DOC_VER = #{record.docVer,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sunyard.tms.entity.Document">
    update TBL_DOCUMENT
    <set>
      <if test="docName != null">
        DOC_NAME = #{docName,jdbcType=VARCHAR},
      </if>
      <if test="docDesc != null">
        DOC_DESC = #{docDesc,jdbcType=VARCHAR},
      </if>
      <if test="docFilePath != null">
        DOC_FILE_PATH = #{docFilePath,jdbcType=VARCHAR},
      </if>
      <if test="docFolderPath != null">
        DOC_FOLDER_PATH = #{docFolderPath,jdbcType=VARCHAR},
      </if>
      <if test="docLen != null">
        DOC_LEN = #{docLen,jdbcType=VARCHAR},
      </if>
      <if test="createdDatetime != null">
        CREATED_DATETIME = #{createdDatetime,jdbcType=VARCHAR},
      </if>
      <if test="updateDatetime != null">
        UPDATE_DATETIME = #{updateDatetime,jdbcType=VARCHAR},
      </if>
      <if test="bak1 != null">
        BAK1 = #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null">
        BAK2 = #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null">
        BAK3 = #{bak3,jdbcType=VARCHAR},
      </if>
      <if test="docVer != null">
        DOC_VER = #{docVer,jdbcType=VARCHAR},
      </if>
    </set>
    where DOC_ID = #{docId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sunyard.tms.entity.Document">
    update TBL_DOCUMENT
    set DOC_NAME = #{docName,jdbcType=VARCHAR},
      DOC_DESC = #{docDesc,jdbcType=VARCHAR},
      DOC_FILE_PATH = #{docFilePath,jdbcType=VARCHAR},
      DOC_FOLDER_PATH = #{docFolderPath,jdbcType=VARCHAR},
      DOC_LEN = #{docLen,jdbcType=VARCHAR},
      CREATED_DATETIME = #{createdDatetime,jdbcType=VARCHAR},
      UPDATE_DATETIME = #{updateDatetime,jdbcType=VARCHAR},
      BAK1 = #{bak1,jdbcType=VARCHAR},
      BAK2 = #{bak2,jdbcType=VARCHAR},
      BAK3 = #{bak3,jdbcType=VARCHAR},
      DOC_VER = #{docVer,jdbcType=VARCHAR}
    where DOC_ID = #{docId,jdbcType=VARCHAR}
  </update>
</mapper>