<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunyard.tms.mapper.PospParamMapper" >
  <resultMap id="BaseResultMap" type="com.sunyard.tms.entity.PospParam" >
    <id column="PARAM_TYPE" property="paramType" jdbcType="VARCHAR" />
    <id column="PARAM_NO" property="paramNo" jdbcType="VARCHAR" />
    <result column="PARAM_LEN" property="paramLen" jdbcType="VARCHAR" />
    <result column="PARAM_VAL" property="paramVal" jdbcType="VARCHAR" />
    <result column="PARAM_VER" property="paramVer" jdbcType="VARCHAR" />
    <result column="CREATE_OPRATER" property="createOprater" jdbcType="VARCHAR" />
    <result column="CREATE_DATETIME" property="createDatetime" jdbcType="VARCHAR" />
    <result column="UPDATE_DATETIME" property="updateDatetime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PARAM_TYPE, PARAM_NO, PARAM_LEN, PARAM_VAL, PARAM_VER, CREATE_OPRATER, CREATE_DATETIME, 
    UPDATE_DATETIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sunyard.tms.entity.PospParamExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TBL_POSP_PARAM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.sunyard.tms.entity.PospParamKey" >
    select 
    <include refid="Base_Column_List" />
    from TBL_POSP_PARAM
    where PARAM_TYPE = #{paramType,jdbcType=VARCHAR}
      and PARAM_NO = #{paramNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.sunyard.tms.entity.PospParamKey" >
    delete from TBL_POSP_PARAM
    where PARAM_TYPE = #{paramType,jdbcType=VARCHAR}
      and PARAM_NO = #{paramNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sunyard.tms.entity.PospParamExample" >
    delete from TBL_POSP_PARAM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sunyard.tms.entity.PospParam" >
    insert into TBL_POSP_PARAM (PARAM_TYPE, PARAM_NO, PARAM_LEN, 
      PARAM_VAL, PARAM_VER, CREATE_OPRATER, 
      CREATE_DATETIME, UPDATE_DATETIME)
    values (#{paramType,jdbcType=VARCHAR}, #{paramNo,jdbcType=VARCHAR}, #{paramLen,jdbcType=VARCHAR}, 
      #{paramVal,jdbcType=VARCHAR}, #{paramVer,jdbcType=VARCHAR}, #{createOprater,jdbcType=VARCHAR}, 
      #{createDatetime,jdbcType=VARCHAR}, #{updateDatetime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sunyard.tms.entity.PospParam" >
    insert into TBL_POSP_PARAM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="paramType != null" >
        PARAM_TYPE,
      </if>
      <if test="paramNo != null" >
        PARAM_NO,
      </if>
      <if test="paramLen != null" >
        PARAM_LEN,
      </if>
      <if test="paramVal != null" >
        PARAM_VAL,
      </if>
      <if test="paramVer != null" >
        PARAM_VER,
      </if>
      <if test="createOprater != null" >
        CREATE_OPRATER,
      </if>
      <if test="createDatetime != null" >
        CREATE_DATETIME,
      </if>
      <if test="updateDatetime != null" >
        UPDATE_DATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="paramType != null" >
        #{paramType,jdbcType=VARCHAR},
      </if>
      <if test="paramNo != null" >
        #{paramNo,jdbcType=VARCHAR},
      </if>
      <if test="paramLen != null" >
        #{paramLen,jdbcType=VARCHAR},
      </if>
      <if test="paramVal != null" >
        #{paramVal,jdbcType=VARCHAR},
      </if>
      <if test="paramVer != null" >
        #{paramVer,jdbcType=VARCHAR},
      </if>
      <if test="createOprater != null" >
        #{createOprater,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null" >
        #{createDatetime,jdbcType=VARCHAR},
      </if>
      <if test="updateDatetime != null" >
        #{updateDatetime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sunyard.tms.entity.PospParamExample" resultType="java.lang.Integer" >
    select count(*) from TBL_POSP_PARAM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TBL_POSP_PARAM
    <set >
      <if test="record.paramType != null" >
        PARAM_TYPE = #{record.paramType,jdbcType=VARCHAR},
      </if>
      <if test="record.paramNo != null" >
        PARAM_NO = #{record.paramNo,jdbcType=VARCHAR},
      </if>
      <if test="record.paramLen != null" >
        PARAM_LEN = #{record.paramLen,jdbcType=VARCHAR},
      </if>
      <if test="record.paramVal != null" >
        PARAM_VAL = #{record.paramVal,jdbcType=VARCHAR},
      </if>
      <if test="record.paramVer != null" >
        PARAM_VER = #{record.paramVer,jdbcType=VARCHAR},
      </if>
      <if test="record.createOprater != null" >
        CREATE_OPRATER = #{record.createOprater,jdbcType=VARCHAR},
      </if>
      <if test="record.createDatetime != null" >
        CREATE_DATETIME = #{record.createDatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDatetime != null" >
        UPDATE_DATETIME = #{record.updateDatetime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TBL_POSP_PARAM
    set PARAM_TYPE = #{record.paramType,jdbcType=VARCHAR},
      PARAM_NO = #{record.paramNo,jdbcType=VARCHAR},
      PARAM_LEN = #{record.paramLen,jdbcType=VARCHAR},
      PARAM_VAL = #{record.paramVal,jdbcType=VARCHAR},
      PARAM_VER = #{record.paramVer,jdbcType=VARCHAR},
      CREATE_OPRATER = #{record.createOprater,jdbcType=VARCHAR},
      CREATE_DATETIME = #{record.createDatetime,jdbcType=VARCHAR},
      UPDATE_DATETIME = #{record.updateDatetime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sunyard.tms.entity.PospParam" >
    update TBL_POSP_PARAM
    <set >
      <if test="paramLen != null" >
        PARAM_LEN = #{paramLen,jdbcType=VARCHAR},
      </if>
      <if test="paramVal != null" >
        PARAM_VAL = #{paramVal,jdbcType=VARCHAR},
      </if>
      <if test="paramVer != null" >
        PARAM_VER = #{paramVer,jdbcType=VARCHAR},
      </if>
      <if test="createOprater != null" >
        CREATE_OPRATER = #{createOprater,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null" >
        CREATE_DATETIME = #{createDatetime,jdbcType=VARCHAR},
      </if>
      <if test="updateDatetime != null" >
        UPDATE_DATETIME = #{updateDatetime,jdbcType=VARCHAR},
      </if>
    </set>
    where PARAM_TYPE = #{paramType,jdbcType=VARCHAR}
      and PARAM_NO = #{paramNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sunyard.tms.entity.PospParam" >
    update TBL_POSP_PARAM
    set PARAM_LEN = #{paramLen,jdbcType=VARCHAR},
      PARAM_VAL = #{paramVal,jdbcType=VARCHAR},
      PARAM_VER = #{paramVer,jdbcType=VARCHAR},
      CREATE_OPRATER = #{createOprater,jdbcType=VARCHAR},
      CREATE_DATETIME = #{createDatetime,jdbcType=VARCHAR},
      UPDATE_DATETIME = #{updateDatetime,jdbcType=VARCHAR}
    where PARAM_TYPE = #{paramType,jdbcType=VARCHAR}
      and PARAM_NO = #{paramNo,jdbcType=VARCHAR}
  </update>
</mapper>